body {
    color: #789acc;
    background-color: #789acc;
    font-family: Roboto, sans-serif;
    text-align: center;
}

section {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px #5c5c5c;
    width: 60%;
    display: inline-block;
    margin-top: 10%;
}

section div {
    width: 250px;
    height: 250px;
    display: inline-block;    
    vertical-align: middle;
    margin: 0 20px;
    padding: 0 40px;
    background-color: white;
    transition: .3s ease-in;
    border-radius: 10px;

}

div img {
    width: 60px;
}

div h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

div p {
    color: grey;
}

.price {
    color: #789acc;
    font-weight: 500;
}

span {
    font-size: 30px;
}

.subscription:hover {
    background: rgb(235, 235, 235);
    transition: .3s ease-in;
    cursor: pointer;
}